
<div class="row mt-3" *ngIf="restaurantDetails && FoodItemData">
    <div class="card card-1 w-100">
        <div class="card-header bg-danger">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="text-light mb-3">{{restaurantDetails.name}}</h2>
                    <p class="text-light"><span>Address: </span>{{restaurantDetails.address}}</p>
                    <p class="text-light"><span>Contact: </span>{{restaurantDetails.contactNo}}</p>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column align-items-end justify-content-between">
                    <div class="star-rating mb-2">
                        <p>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </p>
                    </div>
                    <p class="text-light">Cuisine Type: {{restaurantDetails.cuisineType}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center my-class" *ngIf="restaurantDetails.length==0" >
    <div class="spinner-border text-danger" role="status"  style="height: 70px; width: 70px;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

<div class="row mt-3">
    <div [ngClass]="{
        'col-9':CartResponse.length>0,
        'col-12':CartResponse.length==0
    }">
        <div class="row">
            <div class="col-4 d-flex" *ngFor="let data of FoodItemData; let i=index">
                <div class="card card-2 mb-3 flex-fill">
                    <div class="card-body"> 
                        <div class="row"> 
                            <div class="col-12 col-md-6">
                                <img [src]="data.photoUrl"
                                (error)="DeleteImage(i,FoodItemData)"
                                class="img-fluid" alt="{{data.menuItemName}}">
                            </div>
                            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                                <p class="fw-bold text-center">
                                    {{ data.description | slice:0:40 }}
                                </p>
                                <div class="star-rating-red mt-4">
                                    <p class="text-center">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 d-flex">
                            <div class="col-12 col-md-6 flex-fill">
                                <p class="fw-bold">{{data.menuItemName}}</p>
                                <p class="fw-bold">Price : ₹{{data.price}}</p>
                            </div>
                            <div class="col-12 col-md-6 d-flex align-items-end flex-fill">
                                <button class="mybutton w-100" (click)="addToCart(data.itemID)">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{
        'col-3':CartResponse.length>0
    }" *ngIf="CartResponse.length>0">
    <div class="card card-rounded">
        <div class="card-header text-center bg-danger">
            <h2 style="color: white;">Cart Value</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12" *ngFor="let response of CartResponse; let j =index">
                    <hr>
                    <div class="row mt-2">
                        <div class="col-7 d-flex align-items-center justify-content-center flex-column">
                          <p class="fw-bold">Price : ₹{{response.price}}</p>
                          <p class="fw-bold mt-3">Quantity :{{response.quantity}}</p>
                          <button class="btn btn-danger mt-4" (click)="Remove(response.cartId)">Remove</button>
                        </div>

                        <div class="col-5 d-flex flex-column">
                            <img [src]="response.photoUrl"
                            (error)="DeleteCart(j,CartResponse)"
                            >
                            <p class="fw-bold">{{response.menuItemName}}</p>

                        </div>
                    </div> 
                </div>
                
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center bg-danger" *ngIf="CartResponse.length>0">
            <p class="fw-bolder" style="color: white;">Total Amount : <span style="color: white;">  ₹ {{totalCartAmount}}</span></p>  
          </div>
    </div>
    </div>

</div>
