.myclass {
    height: 94vh ;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/assets/top-view-tasty-soup-with-greens-different-seasonings-white-background-meal-food-soup-vegetable.jpg');
    background-size: cover;
    background-position: center;
}

.card {
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8); /* Subtle shadow */
    padding: 40px 60px;
}


input{
    outline: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 20px;

}

.same{
    background: #eaeaea;
    width: 100%;
    border-radius: 30px;
}

i{
    margin-left: 12px;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.validation{
    position: relative;
}

p{
    position: relative;
    left: 5%;
    margin-bottom: 5px;
}